html {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	background-color: #3e3e40;
	padding: 0;
	border: none;
}

.button {
	height: 40px;
	width: 180px;

	float: left;

	color: white;
	font-size: 20px;

	background-color: #282828;

	border-style: solid;
	border-color: white;
	border-width: thin;
}

.button p {
	margin-top: 9px;
	height: 30px;

    vertical-align: middle;
    text-align: center;
}

.button:hover {
	color: orange;
	border-color: orange;
	cursor: pointer;
}

.channel_graph {
	min-width: 310px; 
	height: 200px; 
	margin: 0 auto;
}

#top {
	height: 50px;
	width: 100%;

	margin: 0 0;
	padding: 0 0;
	border: none;

	/*float: left;*/
	position: fixed !important;

	background-color: #3e3e40;

}

#content_wrapper {
	float: left;

	margin-top: 70px;
	width: 100%;
}

#channels_output {
	float: left; 
	width: 40%;
}

#fft_output {
	float: left; 
	width: 30%;
}

#button_Stop {
	visibility: hidden;
}